<%- include('../partials/header.ejs')%>
  <main class="container mt-5">
    <div>
      <div class="search-bar">
        <form class="d-flex" action="/products" method="get">
          <input class="form-control me-2" type="search" name="search" placeholder="Search for products" aria-label="Search">
          <select class="form-select me-2" name="tag">
            <option value="" selected>Filter by tag</option>
            <option value="Electronics">Electronics</option>
            <option value="Furniture">Furniture</option>
            <option value="Books">Books</option>
            <option value="Clothing">Clothing</option>
            <option value="School Supplies">School Supplies</option>
            <option value="Sports Equipment">Sports Equipment</option>
            <option value="Kitchenware">Kitchenware</option>
            <option value="Accessories">Accessories</option>
            <option value="Home Decor">Home Decor</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Health & Beauty">Health & Beauty</option>
          </select>
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <h1 class="items-header text-center mb-4">Available Listings</h1>
      <div class="row">
        <% if (products.length) { %>
          <% products.forEach(product=> { %> <% if (product.active) { %>
              <div class="col-md-4 mb-4">
                <a href="/products/<%= product.id %>" class="text-decoration-none text-dark">
                  <div class="card h-100">
                    <img src="<%= product.image %>" class="card-img-top" alt="An image of a <%= product.title %>" />
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= product.title %>
                      </h5>
                      <p class="card-text">
                        Condition: <%= product.condition %><br />
                          Price: $<%= product.price.toFixed(2) %><br />
                      </p>
                    </div>
                  </div>
                </a>
              </div>
              <% } %>
                <% }); %>
                  <% } else { %>
                    <p class="text-center">There are no products to display.</p>
                    <% } %>
      </div>
    </div>
  </main>
  <%- include('../partials/footer.ejs')%>