<%- include('../partials/header.ejs')%>
<main>
    <div>
        <h1 class="items-header">Available Listings</h1>
        <div class="listings-wrapper">
            <% if (products.length) { %>
                <% products.forEach(product=>{ %>
                    <% if (product.active) { %>
                        <a href="/products/<%= product.id %>"><section class="listing">
                            <img src="<%= product.image %>" class="listing-img" alt="An image of a <%= product.title %>">
                            <h3 class="listing-header"><%= product.title %></h3>
                            <p>
                                Condition: <%= product.condition %><br>
                                Price: <%= product.price %><br>
                            </p>
                        </section></a>
                    <% } %>
                <%});
            } else { %>
                <p>There are no products to display.</p>
            <% } %>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs')%>