<%- include('../partials/header.ejs')%>
<main>
    <div>
        <img src="<%= product.image %>" class="listing-img" alt="An image of a <%= product.title %>">
        <h3 class="listing-header"><%= product.title %></h3>
        <p>
            Condition: <%= product.condition %><br>
            Price: <%= product.price %><br>
            Seller: <%= product.seller %><br>
            Description: <%= product.description %><br>
        </p>
    </div>
</main>
<%- include('../partials/footer.ejs')%>