<%- include('../partials/header.ejs')%>
<main class="container mt-5">
    <div class="card">
        <img src="<%= product.image %>" class="card-img-top" alt="An image of a <%= product.title %>">
        <div class="card-body"></div>
            <h3 class="card-title"><%= product.title %></h3>
            <p class="card-text">
                <strong>Condition:</strong> <%= product.condition %><br>
                <strong>Price:</strong> <%= product.price %><br>
                <strong>Seller:</strong> <%= product.seller.firstName %> <%= product.seller.lastName %><br>
                <strong>Description:</strong> <%= product.description %><br>
                <form class="item-buttons">
                    <button type= "submit" formmethod= "GET" formaction= "<%= product.id%>/edit">Edit</button>
                    <button type="submit" formmethod="POST" formaction="<%= product.id%>?_method=DELETE">Delete</button>                    
                </form>
            </p>
            <form>
                <button type="submit" formmethod="GET" formaction="<%= product.id%>/edit"><i class="fa-regular fa-pen-to-square"></i></button>
            </form>
        </div>
    </div>
</main>
<%- include('../partials/footer.ejs')%>